body {
  font-family: 'Montserrat';
}

.full-width {
  width: 1200px;
  margin: 0 auto;
}
h1, h2, h3, h4 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 24px;
  float: left;
}
h3{
  font-size: 18px;
}
h4{
  font-size: 12px;
}
p{
  font-size: 16px;
  line-height: 21px;
  padding: 0 30px;
}
header{
  height: 110px;
  margin: 0 auto;
}
header h1{
  float: left;
  margin: 0;
  padding: 38px 0 0 20px;
}
span.title{
  color: #77a466;
}
header nav{
  float: right;
  padding: 46px 20px;
}
header nav ul li{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  padding: 0 10px;
  display: inline;
}
header nav ul li a{
  text-decoration: none;
  color: #77a466;
}
img{
  border: solid #77a466;
  border-width: 3px 0 3px 0;
  height:auto;
  float: left;
  width:auto;
}

.full-width h2{
  height: auto;
  text-align: left;
  padding: 5px 0;
  color: #77a466;
  clear: both;
}
.full-width p{
  height: auto;
  text-align: left;
  padding: 5px 0;
  clear: both;
}
.third-width{
  float: left;
  width: 33%;
  height: auto;
  border-top: 1px solid lightgray;
}
#menu h3{
  padding-left: 20px;
}
#menu ul{
  list-style: none;
  padding: 0 0 0 20px;
  line-height: 30px;
  color: #77a466;
}
#reviews .third-width{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
#reviews h3, #locations h3{
  padding-left: 30px;
}
#reviews p{
  font-size:16px;
  line-height: 21px;
}
.address{
  font-size:16px;
  line-height: 24px;
}
footer h4{
  border-top: 1px solid lightgray;
  clear: both;
  font-size: 16px;
  height: 20px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
span.footer{
  color:#77a466;
  font-family: 'dancing script', cursive;
  text-transform: lowercase;
  font-size: 28px;
}
